<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>price</th>
      <th>score</th>
      <th>stock</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1545819224618321000</td>
      <td>148.33</td>
      <td>0.246565</td>
      <td>QQQ</td>
      <td>1.545848e+09</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1545819227915971000</td>
      <td>148.29</td>
      <td>0.246565</td>
      <td>QQQ</td>
      <td>1.545848e+09</td>
    </tr>
  </tbody>
</table>