<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>_id</th>
      <th>date</th>
      <th>price</th>
      <th>score</th>
      <th>stock</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5c20467a74ef6e03f8488848</td>
      <td>1545590266527765000</td>
      <td>147.57</td>
      <td>0.245841</td>
      <td>QQQ</td>
      <td>1.545619e+09</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5c20468e74ef6e03f848884b</td>
      <td>1545590285722473000</td>
      <td>147.57</td>
      <td>0.245841</td>
      <td>QQQ</td>
      <td>1.545619e+09</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5c2046a174ef6e03f848884e</td>
      <td>1545590305054716000</td>
      <td>147.57</td>
      <td>0.245841</td>
      <td>QQQ</td>
      <td>1.545619e+09</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5c2046b474ef6e03f8488851</td>
      <td>1545590324137988000</td>
      <td>147.57</td>
      <td>0.245841</td>
      <td>QQQ</td>
      <td>1.545619e+09</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5c2046c774ef6e03f8488854</td>
      <td>1545590343010496000</td>
      <td>147.57</td>
      <td>0.245841</td>
      <td>QQQ</td>
      <td>1.545619e+09</td>
    </tr>
  </tbody>
</table>